<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <label for="">Team Name:</label><input type="text" name="name" value="">
     <br>
     <label for="">Coach:</label><input type="text" name="coach" value="">
     <br>
     <label for="">Point Guard:</label><input type="text" name="pg" value="">
     <br>
     <label for="">Shooting Guard:</label><input type="text" name="sg" value="">
     <br>
     <label for="">Small Forward:</label><input type="text" name="sf" value="">
      <br>
     <label for="">Power Forward:</label><input type="text" name="pf" value="">
     <br>
     <label for="">Center:</label><input type="text" name="c" value="">
     <br>
     <input type="submit" id="Submit" value="Submit">
   </form>
 </body>
</html>
